@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-color: #fff;
  color: #333;
  // margin-top: 33px;
  font-family: 'Noto Sans JP',sans-serif;
  font-size: 16px;
  line-height: 18px;
  min-height: 100%;
  text-align: center;
}

h1{ //confirmable
  margin-top: 100px;
}

p{
  margin: 0 0 10px 0;
}

a {
  color: #000;
}

li{
  list-style: none;
}
//-----エラーメッセージ----------------------------------
.alert{
  float: left;
  text-align: center;
  margin-left: 50px;
}

.alert-notice{
  color: green;
  animation: slideIn 1.5s ease 0s 1 alternate;
  // background: linear-gradient(transparent 70%, rgba(197, 252, 183, 0.815) 70%);
}

.alert-error {
  color: red;
  animation: flash 1s linear 0s 2 alternate;
  // background: linear-gradient(transparent 70%, rgba(252, 183, 183, 0.815) 70%);
}

@keyframes slideIn {
  from {
    margin-left: 50%;
    opacity:0;
  }
  
  to {
    margin-left: 50px;
    opacity:1;
  }
}

@keyframes flash {
  from {
    opacity:0;
  }
  
  to {
    opacity:1;
  }
}
// アニメーション参考(https://coco-factory.jp/ugokuweb/css02/)----------------------

.field_with_errors {
  padding: 5px;
  background-color: rgba(255, 118, 118, 0.363);
  border: solid 1px rgba(255, 0, 0, 0.664);
  display: table;
  margin-right: 20px;
}

#error_explanation {
  width: 600px;
  border: 2px solid red;
  padding: 7px 7px 0;
  background-color: #f0f0f0;
  margin-right: 20px;
}
#error_explanation h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
    text-align: left;
    padding-top: 5px;
  }

nav.pagination {
  display: none;
} 

// -------------footer--
footer{
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}

footer p{
  color: #666;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.container{
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

// --------------blog---
.blog__area{
  border: solid 1px #000;
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.user__area{
  position: absolute;
  top: 50px;
  right: 50px;
}

.blog__area h1{
  margin: 50px;
  text-align: left;
  width: 60%;
  height: 110px;
  line-height: 1.5em;
}

.blog__area .content{
  margin: 50px;
  text-align: left;
  line-height: 1.7em;
}

.blog__area img{
  width: 100px;
  border: solid 0.5px #000;
}

//----trip-&-profile-------------------
.trip__area{
  border: solid 1px #000;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

div.finished{
  @if goal{
    background: rgba(155, 155, 155, 0.479);
  }
  @else{
    background: #fff;
  }
}

article{
  min-height: 1000px;
}

.trip__area .col-sm-6{
  min-height: 1000px;
  text-align: left;
  padding-top: 30px;
}

.trip__area h1{
  margin: 50px;
  line-height: 3em;
  display: inline;
  background: linear-gradient(transparent 70%, rgba(193, 255, 247, 0.76) 70%);
}

.trip__area p{
  margin: 0 0 30px 50px;
  font-size: 18px;
  line-height: 1.5em;
  padding-right: 10px;
  text-align: left;
}

.trip_icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 0.5px rgb(160, 160, 160);
}

.similar_area{
  margin-top: 50px;
}

.comment__area{
  // background-color: blanchedalmond;
  width: 60%;
  margin: 0 auto;
}

.comment{
  // border: solid 1px red;
  padding: 20px;
}

.comment li{
  text-align: left;
}

.comment img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: solid 0.5px rgb(160, 160, 160);
}

#comment_content{
  height: 100px;
}
.list{
  width: 70%;
  min-height: 150px;
  margin: 0 0 20px 50px;
  padding: 20px;
  background-color: aliceblue;
}

.list li{
  list-style: disc;
  line-height: 1.5em;
}
// -------------profile-----

.profile_icon{
  max-width: 200px;
  margin: 0 0 50px 50px;
  border: solid 0.5px rgb(160, 160, 160);

}

#map {
  height: 350px;
  max-width: 600px;
  margin: 0 50px;
}

.gm-style-iw{
  width: 100px;
  height: 50px;
  padding: 5px;
}

.gm-style .gm-style-iw{
  border-radius: 25px;
}

.gm-style-iw h6{
  font-size: 9px;
  margin: 0 auto;
}

.map_icon{
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.gm-ui-hover-effect{
  display: none!important; //closeボタン非表示
}


// ----地球のアニメーション----<div class="earth"></div>をHTMLへ追加-------
// .earth {
//   position: relative;
//   overflow: hidden;
//   width: 200px;
//   height: 200px;
//   // background-color: #ccc;
//   background-color: rgba(212, 251, 255, 0.562);
//   border-radius: 50%;
//   box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
// }

// .earth:before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-repeat: repeat-x;
//   background-image: url(earth.svg);
//   background-position: 0 0;
//   background-size: auto 100%;
//   transform: rotate(23.4deg);
//   animation: rotation 16s linear infinite;
// }

// @keyframes rotation {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: -200% 0;
//   }
// }
// ---------------------------