
.top__header{
  height: 500px;
  // background-image: url("nyc.jpg");
  // background-size: 100% auto;
  // background-position: left top;
  // background-repeat: no-repeat;
  padding: 100px;
}

.top__button{
  margin: 50px;
}
.top__main{
  max-width: 1500px;
  min-height: 1000px;
  position: relative;
  background: rgb(255, 250, 235);
  margin: 0 auto;
}
.top__about1{
  width: 600px;
  // position: absolute;
  // right: 0;
}
.top__about1 p{
  width: 600px;
  position: absolute;
  right: 0;
  text-align: justify;
  padding: 50px;
  // float: left;
}

.top__main img{
  width: 600px;
  float: left;
  padding: 50px;
}
/*========= 手書きアニメLoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
background:#333;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg{
width:300px;
}

/*========= SVG操作手書き風にするためのCSS ===============*/

#mask .st0{
  fill:none;
  stroke:#fff;
  stroke-width:90;/*線の太さを指定する*/
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset:1500; /* 線の位置を指定する */
}

/*========= レイアウトのためのCSS ===============*/

#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}