<%# <p>Ontripsへのサインアップありがとうございます。</p> %>
<%# ↑新規登録時、メールアドレス確認時併用できるように削除 %>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token) %></p>
